<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>learn coding</title>
</head>
<body>
	<!-- <div class="cursor_with">我是一个鼠标跟随效果</div> -->
	<!-- <div class="template"></div> -->

	<!-- <div class="father">
		<div class="son">子元素的padding和margin百分比都是基于父元素的width，你说怪不怪</div>
	</div> -->

	<!-- <img id="base64"/>
	<div id="content">js存入png中</div> -->

	<!-- <div class="pos">测试position属性</div> -->

	<!-- <div id="first">
		<span id="elId">Message: {{isOk ? msg : warn}}</span><br/>
		<span>Reversed Message: {{reversedMessage}}</span>
	</div> -->

	<!-- <div id="watch-example">
	  <p>
	    Ask a yes/no question:
	    <input v-model="question">
	  </p>
	  <p>{{ answer }}</p>
	</div> -->

	<!-- <div id="class-example">
		<p v-bind:class="classCtrl">hello world</p>
	</div> -->

	<div id="if-example">
		<template v-if="isOk">
		  <h1>Title</h1>

		  <p>conflict 99999999</p>
		  <div>no conflict</div>

		</template>
	
	</div>
	

	<!-- <script src="http://vuejs.org/js/vue.js"></script> -->
	<script src="./bundle/common.js"></script>
	<script src="./bundle/index.bundle.js"></script>
</body>
</html>
